<div class="py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="~/Templates/agency/assets/img/logos/instagram-svgrepo-com.svg" alt="..." /></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="~/Templates/agency/assets/img/logos/twitter-svgrepo-com.svg" alt="..." /></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="~/Templates/agency/assets/img/logos/facebook-svgrepo-com.svg" alt="..." /></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="https://www.linkedin.com/in/ya%C4%9Fmur-t%C3%BCrkk%C3%B6yl%C3%BC/" target="_blank"><img class="img-fluid img-brand d-block mx-auto" src="/Templates/agency/assets/img/logos/linkdin.svg" alt="www.linkedin.com/in/yağmur-türkköylü" /></a>
            </div>
        </div>
    </div>
</div>