@model List<AcunMedyaAkademiAgency.Entities.Feature>
<header class="masthead">
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="masthead-subheading">@item.Title</div>
            <div class="masthead-heading text-uppercase">@item.Description</div>
        }
        <a class="btn btn-primary btn-services btn-xl" style="position: relative; z-index: 2;" href="#services">Daha Fazlası İçin</a>
    </div>
</header>