@model List<AcunMedyaAkademiAgency.Entities.Project>
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Projelerimiz</h2>
            <h3 class="section-subheading text-muted">Alanında uzman kadromuzla her türlü proje bitirme ve destekleme işlemleri yapılmaktadır.</h3>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2-@item.ProjectId">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="@item.ImageUrl" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">@item.Title</div>
                            <div class="portfolio-caption-subheading text-muted">@item.Category.CategoryName</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>