

    <a class="btn btn-dark btn-social mx-2" href="https://x.com/?lang=tr"><i class="fab fa-twitter"></i></a>
    <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/?locale=tr_TR"><i class="fab fa-facebook-f"></i></a>
    <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/feed/"><i class="fab fa-linkedin-in"></i></a>



