@model List<AcunMedyaAkademiAgency.Entities.Team>
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Güçlü ve Donanımlı Ekibimiz</h2>
            <h3 class="section-subheading text-muted">Sizlere en iyi hizmeti verebilmek için buradayız</h3>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {


                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="@item.ImageUrl" alt="..." />
                        <h4>@item.NameSurname</h4>
                        <p class="text-muted">@item.Branch.BranchName</p>
                        @Html.Action("SocialMediaPartial","Default")
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Sizlerde bu deneyimli ve kapsamlı ekibin bir parçası olmak isterseniz bize her zaman ulaşabilirsiniz.</p></div>
        </div>
    </div>
</section>
