
@{
    ViewBag.Title = "CreateService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Hizmet Ekleme Sayfası</h2>

<form method="post">
    <label>Hizmet Adı</label>
    <input type="text" class="form-control" name="Title" />
    <br />
    <label>Hizmet Resmi</label>
    <input type="text" class="form-control" name="ImageUrl" />
    <br />
    <label>Hizmet Açıklaması</label>
    <textarea rows="4" class="form-control" name="Description"></textarea>
    <br />
    <button class="btn btn-danger">Hizmeti Kaydet</button>
</form>

