@model List<AcunMedyaAkademiAgency.Entities.Message>
<li class="nav-item dropdown d-none d-sm-flex">
    <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown">
        <i class="mdi mdi-email-outline"></i>
        <span class="count count-varient2">@Model.Count</span> <!-- Burada mesaj sayısı dinamik olacak -->
    </a>
    <div class="dropdown-menu navbar-dropdown navbar-dropdown-large preview-list" aria-labelledby="messageDropdown">
        <h6 class="p-3 mb-0">Messages</h6>
        @foreach (var item in Model)
        {
            <a class="dropdown-item preview-item">
                <div class="preview-item-content flex-grow">
                    <span class="badge badge-pill badge-success d-inline-block mb-2">@item.NameSurname</span>
                    <p class="text-small text-muted align-self-start mt-1">@item.Title</p>
                </div>
            </a>
        }
        <h6 class="p-3 mb-0">See all activity</h6>
    </div>
</li>
