@model List<AcunMedyaAkademiAgency.Entities.Category>
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 1;
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"> Kategoriler Sayfası</h4>
            <p class="card-description">
                Kategorilerle ilgili işlemleri buradan yapabilirsiniz.
            </p>
            <form method="get">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Aranacak Kelime" aria-label="Aranacak Kelime" aria-describedby="basic-addon2" name="searchText" />
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-primary"> Ara </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Adı</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@count</td>
                                <td>@item.CategoryName</td>
                                <td><a class="btn btn-danger" href="/Category/DeleteCategory/@item.CategoryId"><i class="fa fa-trash"></i>Sil</a></td>
                                <td><a class="btn btn-success" href="/Category/UpdateCategory/@item.CategoryId"><i class="fa fa-pencil">Güncelle</i></a></td>
                            </tr>
                            count++;
                        }
                    </tbody>
                </table>
                <br />
                <a href="/Category/CreateCategory" class="btn btn-info"><i class="mdi mdi-file-check btn-icon-append">Yeni Kategori Girişi</i></a>
            </div>
        </div>
    </div>
</div>