@model List<AcunMedyaAkademiAgency.Entities.Project>
@{
    ViewBag.Title = "ProjectList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Projelerim Sayfası</h4>
            <p class="card-description">
                Projelerle ilgili işlemleri buradan yapabilirsiniz.
            </p>
            <form method="get">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Aranacak Kelime" aria-label="Aranacak Kelime" aria-describedby="basic-addon2" name="searchText" />
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-primary"> Ara </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Adı</th>
                            <th>Resmi</th>
                            <th>Kategorisi</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@item.Title</td>
                                <td><img src="@item.ImageUrl" style="width:75px;height:75px;" alt="Hizmet Görseli" /></td>
                                <td>@item.Category.CategoryName</td>
                                <td><a class="btn btn-danger" href="/Project/DeleteProject/@item.ProjectId"><i class="fa fa-trash"></i>Sil</a></td>
                                <td><a class="btn btn-success" href="/Project/UpdateProject/@item.ProjectId"><i class="fa fa-pencil">Güncelle</i></a></td>

                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <a href="/Project/CreateProject" class="btn btn-info"><i class="mdi mdi-file-check btn-icon-append">Yeni Proje Girişi</i></a>
            </div>
        </div>
    </div>
</div>