@model List<AcunMedyaAkademiAgency.Entities.About>
@{
    ViewBag.Title = "AboutList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    var count = 1;
}
<style>

    .description-cell {
        max-width: 300px; 
        max-height: 80px; 
        overflow-y: auto;
        white-space: normal; 
        word-wrap: break-word;
        border: 1px solid #ddd; 
        padding: 5px; 
    }
</style>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hakkında Sayfası</h4>
            <p class="card-description">
                Hakkında ile ilgili işlemleri buradan yapabilirsiniz
            </p>
            <form method="get">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Aranacak Kelime" aria-label="Aranacak Kelime" aria-describedby="basic-addon2" name="searchText" />
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-primary" type="button"> Arama </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Hakkında Başlığı</th>
                            <th>Açıklaması</th>
                            <th>Resim Yolu</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@count</td>
                                <td>@item.Title</td>
                                <td class="description-cell">@item.Description</td>
                                <td><img src="@item.ImageUrl" style="width:75px; height:75px" alt="Proje Görseli" /></td>
                                <td><a class="btn btn-danger" href="/About/DeleteAbout/@item.AboutId"><i class="fa fa-trash"></i>Sil</a></td>
                                <td><a class="btn btn-success" href="/About/UpdateAbout/@item.AboutId"><i class="fa fa-pencil">Güncelle</i></a></td>
                            </tr>
                            count++;
                        }
                    </tbody>
                </table>
                <br />
                <a href="/About/CreateAbout" class="btn btn-info"><i class="mdi mdi-file-check btn-icon-append">Hakkında Oluştur</i></a>
            </div>
        </div>
    </div>
</div>